*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    transition: 1s ease;
}
h1{
font-size: 40px;
}
button{
    background-color: blue;
    color: whitesmoke;
    border-radius: 1rem;
    padding: 20px 15px;
    border: none;
    font-size: 20px;
}
.changebg{
    background-color: black;
    color: white;
    transition: 0.7s ease;
}